<div class="modal-dialog">
  <div class="modal-content">
    <%= form_with model: @calibration_template, url: admin_company_evaluation_template_calibration_template_path(id: @calibration_template.id, template_id: @company_evaluation_template.id, company_evaluation_id: @company_evaluation.id), method: :delete do |f| %>
      <div class="modal-header">
        <h5 class="modal-title"><%= t(".title") -%></h5>
        <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <%= f.submit t('form.confirm'), class: 'btn btn-primary', data: {'coreui-dismiss': :modal} %>
        <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal"><%= t("form.close") -%></button>
      </div>
    <% end %>
  </div>
</div>
