<% content_for :head do %>
  <%= append_stylesheet_pack_tag 'selectize' %>
  <%= append_javascript_pack_tag 'stimulus' %>
  <%= append_javascript_pack_tag 'selectize_user_ids' %>
<% end %>

<div class="row justify-content-center">
</div>
