<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"><%= t(".title", chinese_name: @evaluation_user_capability.user.chinese_name) -%></h5>
      <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <%= render partial: 'ui/performances/people_in_card', locals: {evaluation_user_capability: @evaluation_user_capability} %>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal"><%= t("form.close") -%></button>
    </div>
  </div>
</div>
